{{>navbar}}
<div class='container mt-5 text-center'>
  <form action='/link-chest/perfil/eliminar-usuario?_method=DELETE' method='post'>
    <div class='mb-3'>
      <p>¿Está seguro que desea eliminar su cuenta, se perderán todos los links
        guardados?</p>
    </div>
    <button type='submit' class='btn btn-danger'>Eliminar Cuenta</button>
    <button class='btn btn-success'><a
        style=' text-decoration: none ; color: white'
        href='/link-chest/perfil'
      >Volver</a></button>
  </form>
</div>