{{>navbar}}

<div>
  <div class='col-sm-4 p-2'>
    <div class='card'>
      <div class='card-body'>
        <h5 class='card-title'>Hola! ¿Que desea hacer? </h5>
        <p class='card-text'></p>
        <div class='card text-center p-3'>
          <a
            href='/link-chest/perfil/editar-usuario'
            class='btn btn-outline-primary'
          >Cambiar Password</a>
          <a
            href='/link-chest/perfil/eliminar-usuario'
            class='btn btn-outline-danger'
          >Eliminar Cuenta</a>
        </div>
      </div>
    </div>
  </div>

</div>