<nav class='navbar navbar-expand-lg navbar-dark bg-primary'>
  <div class='container-fluid'>
    <div class='navbar-brand' href=''>
      <a href="/link-chest" style="text-decoration: none ; color:aliceblue;">
      <img
        src='https://cdn-icons-png.flaticon.com/512/909/909431.png'
        width='25'
        height='24'
        class='d-inline-block align-text-top'
      />
      <b>LinkChest</b>
    </div>
    </a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarNavDropdown'
      aria-controls='navbarNavDropdown'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarNavDropdown'>
      <ul class='navbar-nav'>
       
        <li class='nav-item'>
          <a class='nav-link' href='/link-chest/links-compartidos'>Links
            Compartidos</a>
        </li>
         <li class='nav-item'>
          <a class='nav-link' href='/link-chest/perfil'>Perfil</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='/logout'>Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>